body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.todo-container {
    background-color: #ffffff;
    padding: 21px;
    border-radius: 11px;
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background-color: #458d55;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.task-info {
    display: flex;
    flex-direction: column;
}

.edit-btn, .delete-btn {
    background-color: #dc3545;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.edit-btn {
    background-color: #007bff;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.delete-btn:hover {
    background-color: #c82333;
}
